/.DS_Store
/Articles.xlsx
/CIS 4900.docx
/Distribution of Article.docx
/TESTOLLAMA
/cleaned_footnotes.xlsx
/clustered_titles.csv
/data_scrape
/documents
/footnotes_aug-dec2024.numbers
/literature
/merged_facebook_ads.csv
/sentenceEmbedding.ipynb
/similarity and time delta analysis.xlsx
/top 500 article 5.numbers
/top 500 article 9.numbers
/top_500_article0.csv
/top_500_article12.numbers
/top_500_article_1.csv
/top_500_article_10.csv
/top_500_article_11.csv
/top_500_article_12.csv
/top_500_article_13.csv
/top_500_article_13.numbers
/top_500_article_15.csv
/top_500_article_16.csv
/top_500_article_16.numbers
/top_500_article_17.csv
/top_500_article_17.numbers
/top_500_article_18.csv
/top_500_article_18.numbers
/top_500_article_19.csv
/top_500_article_2.csv
/top_500_article_20.csv
/top_500_article_21.csv
/top_500_article_22.csv
/top_500_article_22.numbers
/top_500_article_23.csv
/top_500_article_23.numbers
/top_500_article_24.csv
/top_500_article_24.numbers
/top_500_article_25.csv
/top_500_article_25.numbers
/top_500_article_27.csv
/top_500_article_28.csv
/top_500_article_29.csv
/top_500_article_3.csv
/top_500_article_30.csv
/top_500_article_31.csv
/top_500_article_32.csv
/top_500_article_33.csv
/top_500_article_34.csv
/top_500_article_35.csv
/top_500_article_36.csv
/top_500_article_37.csv
/top_500_article_38.csv
/top_500_article_39.csv
/top_500_article_40.numbers
/top_500_article_41.csv
/top_500_article_42.csv
/top_500_article_43.csv
/top_500_article_44.csv
/top_500_article_45.csv
/top_500_article_46.csv
/top_500_article_47.csv
/top_500_article_48.csv
/top_500_article_49.csv
/top_500_article_5.csv
/top_500_article_50.csv
/top_500_article_51.csv
/top_500_article_52.csv
/top_500_article_53.csv
/top_500_article_54.csv
/top_500_article_55.csv
/top_500_article_56.csv
/top_500_article_57.csv
/top_500_article_58.csv
/top_500_article_58.numbers
/top_500_article_59.csv
/top_500_article_6.csv
/top_500_article_60.csv
/top_500_article_60.numbers
/top_500_article_61.csv
/top_500_article_63.csv
/top_500_article_63.numbers
/top_500_article_7.csv
/top_500_article_8.csv
/top_500_article_9.csv
/top_500_dedpuped_article4.numbers
/top_500_deduped_article_29
/top_500_matches.csv
/top_500_matches_article_14.numbers
/top_500_matches_article_4.numbers
/weakly_data
/~$cleaned_footnotes.xlsx
/~$ticle Ad Analysis.docx